

<html>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}jaja{% endblock %}
{% block content %}

<div class="col-md-4 col-md-offset-2">
    {{ wtf.quick_form(form) }}

    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>
{% endblock %}
</html>