{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
<!doctype html>

{% block title %}cameronsimmons.ca{% endblock %}

{% block content %}


    <div class="jumbotron">
    <div class="centering text-center">
        <br>
        <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead"></p></div>

      <div class="container text-center"><a href="#" class="btn btn-primary btn-lg">Button</a></div>

     <div class="container text-center"><a href="{{ url_for('auth.resend_confirmation') }}" class="btn btn-primary btn-lg">Resend</a></div>
    </div>



<div class="container text-center">
    <div class="row">
    <!-- <div class="centering text-center"> -->


<!-- <div class="col"> -->

  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="thumbnail">
        <i class="now-ui-icons business_globe"></i>
      <!-- <img data-src="holder.js/300x200" alt="..."> -->
      <div class="caption">
        <!--<h3>Thumbnail label</h3> -->


        <!-- <p><a href="#" class="btn btn-primary ">Button</a> </p> -->
      </div>
    </div>
  </div>
    </div>
</div>






  <div class="col-sm-4 col-md-4 col-lg-4">

    <div class="thumbnail">
      <i class="now-ui-icons ui-1_check"></i>
      <!-- <img data-src="holder.js/300x200" alt="..."> -->
      <div class="caption">
        <!--<h3>Thumbnail label</h3> -->
        <p>...</p>

      </div>
    </div>
  </div>





  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="thumbnail">
     <i class="now-ui-icons business_briefcase-24"></i>
      <!-- <img data-src="holder.js/300x200" alt="..."> -->
      <div class="caption">
        <!--<h3>Thumbnail label</h3> -->
        <p>...</p>

      </div>
    </div>
  </div>
</div>


</div>



    <div class="jumbotron jumbotron-fluid">

      <div class="centering text-center">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>



  <!-- <div class="checkbox">
  <input id="remember_me" name="remember_me" type="checkbox" value="y">
      <label for="remember_me">
        Keep me logged in
      </label>
    </div>
-->



{% endblock %}