{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Login{% endblock %}

{% block page_content %}

  <span style="display:block; height: 5em;"></span>

    <div class="container text-center">

<div class="col-md-4">
    {{ wtf.quick_form(form) }}

</div>
    </div>

{% endblock %}