{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Pay{% endblock %}

{% block head %}
{{ super() }}
<!-- link to the SqPaymentForm library -->
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform">
</script>

<!-- link to the local SqPaymentForm initialization -->
<script type="text/javascript" src="{{ url_for('static', filename='js/sqpaymentform.js')}}">
</script>

<!-- link to the custom styles for SqPaymentForm -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sqpaymentform.css')}}">

{% endblock %}

{% block page_content %}
    &nbsp;

<span style="display:block; height: 5em;"></span>

<div class="container text-center">
<div id="sq-ccbox">

  <form id="nonce-form" novalidate action="{{ url_for('main.process_card') }}" method="post">
    Pay with a Credit Card
    <table>
    <tbody>
      <tr>
        <td>Card Number:</td>
        <td><div id="sq-card-number"></div></td>
      </tr>
      <tr>
        <td>CVV:</td>
        <td><div id="sq-cvv"></div></td>
      </tr>
      <tr>
        <td>Expiration Date: </td>
        <td><div id="sq-expiration-date"></div></td>
      </tr>
      <tr>
        <td>Postal Code:</td>
        <td><div id="sq-postal-code"></div></td>
      </tr>
      <tr>
        <td colspan="2">
          <button id="sq-creditcard" class="button-credit-card" onclick="requestCardNonce(event)">
            Pay with card
          </button>
        </td>
      </tr>
    </tbody>
    </table>


    <input type="hidden" id="card-nonce" name="nonce">
  </form>
</div>

</div>

{% endblock %}




