{% extends "base.html" %}
{% import "_macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">


{% block title %}Pay{% endblock %}

{% block head %}
{{ super() }}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% endblock %}

{% block page_content %}
    <body>
    <div class="container">
    <span style="display:block; height: 5em;"></span>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}


</body>
{% endblock %}
</html>